[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotfiles_private"]
	path = dotfiles_private
  url = git@bitbucket.org:timcmartin/dotfiles_private.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/timcmartin/fonts
[submodule "vimbundles"]
	path = vimbundles
	url = https://github.com/timcmartin/vimbundles.git
